/* Header main */
body {
    margin: 0 !important;
    padding: 0 !important;
    
    &.theme-based-header,
    &.moodle-based-header {
        padding-top: 0 !important;
        margin-top: 0 !important;
        
        #page-wrapper {
            padding-top: 0 !important;
            margin-top: 0 !important;
        }
        
        .header-main {
            position: relative !important;
            top: 0 !important;
        }
        
        .navbar.fixed-top {
            position: relative !important;
        }
        
        #page-content {
            margin-top: 0 !important;
        }
        
        #page-header {
            margin-top: 0 !important;
            padding-top: 0 !important;
        }
    }
}

.drawers {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.fixed-top {
    position: relative !important;
}

#page {
    margin-top: 0 !important;
    padding-top: 0 !important;
}
